:root {
  background: green;
}

body {
  min-height: 100vh;
  max-width: 1024px;
  padding: 0 2em;
  margin: 0 auto;
  background: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  header {
    h1 {
      text-align: center;
    }
  }
  footer {
    font-size: 0.8em;
    text-align: center;
  }
}
